In [1]:
%matplotlib inline

import pandas as pd

# these will be useful later
import numpy  as np
from matplotlib import pyplot as plt

In [2]:
#Homicide Rates in 2013
crime=pd.read_csv("mun.csv", index_col = "id", parse_dates = ["id"], encoding='iso-8859-1')
crime=crime.drop('SUBTIPO', axis=1)

In [3]:
hom13= crime[(crime['MODALIDAD']=='HOMICIDIOS') & (crime['TIPO'] == 'DOLOSOS' )]
hom13= hom13.groupby([hom13.index,'year','ENTIDAD', 'MUNICIPIO']).sum().reset_index()
hom13=hom13.set_index(['id'])
hom13=hom13[hom13.year == 2013]
hom13=hom13.rename(columns = {'total':'homicidios'})

In [4]:
pop=pd.read_csv("pop.csv", index_col = "id", parse_dates = ["id"], encoding='iso-8859-1')
pop=pop.drop('hom', axis=1)
pop=pop.drop('muj', axis=1)

In [5]:
tot13 = pd.concat([hom13, pop], axis=1)
tot13= tot13.drop('nom', axis=1)
tot13['hom_rate'] = (tot13['homicidios']/tot13['pop'])*100000
tot13 = tot13.drop("MUNICIPIO", axis=1)
tot13 = tot13.rename(columns = {'hom_rate': 'Homicide Rate in 2013',
                               'homicidios':'Homicides in 2013'})

In [6]:
#Homicide Rates in 2014
crime=pd.read_csv("mun.csv", index_col = "id", parse_dates = ["id"], encoding='iso-8859-1')
crime=crime.drop('SUBTIPO', axis=1)
hom14= crime[(crime['MODALIDAD']=='HOMICIDIOS') & (crime['TIPO'] == 'DOLOSOS' )]
hom14= hom14.groupby([hom14.index,'year','ENTIDAD', 'MUNICIPIO']).sum().reset_index()
hom14=hom14.set_index(['id'])
hom14=hom14[hom14.year == 2014]
hom14=hom14.rename(columns = {'total':'homicidios'})
pop=pd.read_csv("pop.csv", index_col = "id", parse_dates = ["id"], encoding='iso-8859-1')
pop=pop.drop('hom', axis=1)
pop=pop.drop('muj', axis=1)
tot14 = pd.concat([hom14, pop], axis=1)
tot14= tot14.drop('nom', axis=1)
tot14['hom_rate'] = (tot14['homicidios']/tot14['pop'])*100000
tot14 = tot14.rename(columns = {'hom_rate': 'Homicide Rate in 2014',
                               'homicidios':'Homicides in 2014'})

In [7]:
#3x1 Projects Granted in 2013
x31_13 = pd.read_csv("3x1_2013utf8.csv", index_col = "id", usecols= {"id","year", "suma"}, 
                     parse_dates = ["id"])
x31_13 = x31_13.groupby([x31_13.index,'year']).sum()
x31_13 = x31_13.rename(columns = {'suma': '3x1 Projects Granted in 2013'})
x31_13 = x31_13.reset_index()
x31_13 = x31_13.set_index(['id'])

In [8]:
#3x1 Projects Granted in 2014
x31_14 = pd.read_csv("3x1_2014utf8.csv", index_col = "id", usecols= {"id","year", "suma"}, 
                     parse_dates = ["id"])
x31_14 = x31_14.groupby([x31_14.index,'year']).sum()
x31_14 = x31_14.rename(columns = {'suma': '3x1 Projects Granted in 2014'})
x31_14 = x31_14.reset_index()
x31_14 = x31_14.set_index(['id'])
x31_14.head(10)

      year  3x1 Projects Granted in 2014
id
1001  2014                             6
1002  2014                             9
1003  2014                            10
1004  2014                             5
1005  2014                             2
1006  2014                             1
1007  2014                             3
1008  2014                             3
1009  2014                             4
1011  2014                             1

In [9]:
#Merging homicide rates and 3x1 projects granted in 2013
hom_3x1_13 = pd.merge(tot13, x31_13, left_index=True, right_index=True, how='outer')
hom_3x1_13.head(10)

,year_x,ENTIDAD,Homicides in 2013,pop,Homicide Rate in 2013,year_y,3x1 Projects Granted in 2013
id,,,,,,,
1001,2013.0,AGUASCALIENTES,19.0,797010.0,2.383910,2013.0,6.0
1002,2013.0,AGUASCALIENTES,5.0,45492.0,10.990943,2013.0,2.0
1003,2013.0,AGUASCALIENTES,0.0,54136.0,0.000000,2013.0,17.0
1004,2013.0,AGUASCALIENTES,0.0,15042.0,0.000000,2013.0,2.0
1005,2013.0,AGUASCALIENTES,7.0,99590.0,7.028818,NaN,NaN
1006,2013.0,AGUASCALIENTES,1.0,41862.0,2.388801,2013.0,1.0
1007,2013.0,AGUASCALIENTES,2.0,49156.0,4.068679,2013.0,2.0
1008,2013.0,AGUASCALIENTES,0.0,8443.0,0.000000,2013.0,4.0
1009,2013.0,AGUASCALIENTES,0.0,19668.0,0.000000,2013.0,1.0
1010,2013.0,AGUASCALIENTES,1.0,18828.0,5.311239,NaN,NaN

In [10]:
#Merging homicide rates and 3x1 projects granted in 2014
hom_3x1_14 = pd.merge(tot14, x31_14, left_index=True, right_index=True, how='outer')
hom_3x1_14.head(10)

,year_x,ENTIDAD,MUNICIPIO,Homicides in 2014,pop,Homicide Rate in 2014,year_y,3x1 Projects Granted in 2014
id,,,,,,,,
1001,2014.0,AGUASCALIENTES,AGUASCALIENTES,31.0,797010.0,3.889537,2014.0,6.0
1002,2014.0,AGUASCALIENTES,ASIENTOS,0.0,45492.0,0.000000,2014.0,9.0
1003,2014.0,AGUASCALIENTES,CALVILLO,2.0,54136.0,3.694399,2014.0,10.0
1004,2014.0,AGUASCALIENTES,COSIO,0.0,15042.0,0.000000,2014.0,5.0
1005,2014.0,AGUASCALIENTES,JESUS MARIA,6.0,99590.0,6.024701,2014.0,2.0
1006,2014.0,AGUASCALIENTES,PABELLON DE ARTEAGA,0.0,41862.0,0.000000,2014.0,1.0
1007,2014.0,AGUASCALIENTES,RINCON DE ROMOS,1.0,49156.0,2.034340,2014.0,3.0
1008,2014.0,AGUASCALIENTES,SAN JOSE DE GRACIA,0.0,8443.0,0.000000,2014.0,3.0
1009,2014.0,AGUASCALIENTES,TEPEZALA,0.0,19668.0,0.000000,2014.0,4.0
1010,2014.0,AGUASCALIENTES,EL LLANO,1.0,18828.0,5.311239,NaN,NaN

In [11]:
#Dropping repeated columns in 2013
hom_3x1_13 = hom_3x1_13.drop('year_x', axis=1)
hom_3x1_13 = hom_3x1_13.drop('year_y', axis=1)
hom_3x1_13.head(10)

,ENTIDAD,Homicides in 2013,pop,Homicide Rate in 2013,3x1 Projects Granted in 2013
id,,,,,
1001,AGUASCALIENTES,19.0,797010.0,2.383910,6.0
1002,AGUASCALIENTES,5.0,45492.0,10.990943,2.0
1003,AGUASCALIENTES,0.0,54136.0,0.000000,17.0
1004,AGUASCALIENTES,0.0,15042.0,0.000000,2.0
1005,AGUASCALIENTES,7.0,99590.0,7.028818,NaN
1006,AGUASCALIENTES,1.0,41862.0,2.388801,1.0
1007,AGUASCALIENTES,2.0,49156.0,4.068679,2.0
1008,AGUASCALIENTES,0.0,8443.0,0.000000,4.0
1009,AGUASCALIENTES,0.0,19668.0,0.000000,1.0
1010,AGUASCALIENTES,1.0,18828.0,5.311239,NaN

In [12]:
#Dropping repeated columns in 2014
hom_3x1_14 = hom_3x1_14.drop('year_x', axis=1)
hom_3x1_14 = hom_3x1_14.drop('year_y', axis=1)
hom_3x1_14.head(10)

,ENTIDAD,MUNICIPIO,Homicides in 2014,pop,Homicide Rate in 2014,3x1 Projects Granted in 2014
id,,,,,,
1001,AGUASCALIENTES,AGUASCALIENTES,31.0,797010.0,3.889537,6.0
1002,AGUASCALIENTES,ASIENTOS,0.0,45492.0,0.000000,9.0
1003,AGUASCALIENTES,CALVILLO,2.0,54136.0,3.694399,10.0
1004,AGUASCALIENTES,COSIO,0.0,15042.0,0.000000,5.0
1005,AGUASCALIENTES,JESUS MARIA,6.0,99590.0,6.024701,2.0
1006,AGUASCALIENTES,PABELLON DE ARTEAGA,0.0,41862.0,0.000000,1.0
1007,AGUASCALIENTES,RINCON DE ROMOS,1.0,49156.0,2.034340,3.0
1008,AGUASCALIENTES,SAN JOSE DE GRACIA,0.0,8443.0,0.000000,3.0
1009,AGUASCALIENTES,TEPEZALA,0.0,19668.0,0.000000,4.0
1010,AGUASCALIENTES,EL LLANO,1.0,18828.0,5.311239,NaN

In [13]:
#Final Merge!!!!
hom_3x1_all = pd.merge(hom_3x1_13, hom_3x1_14, left_index=True, right_index=True, how='outer')
hom_3x1_all.head(10)

,ENTIDAD_x,Homicides in 2013,pop_x,Homicide Rate in 2013,3x1 Projects Granted in 2013,ENTIDAD_y,MUNICIPIO,Homicides in 2014,pop_y,Homicide Rate in 2014,3x1 Projects Granted in 2014
id,,,,,,,,,,,
1001,AGUASCALIENTES,19.0,797010.0,2.383910,6.0,AGUASCALIENTES,AGUASCALIENTES,31.0,797010.0,3.889537,6.0
1002,AGUASCALIENTES,5.0,45492.0,10.990943,2.0,AGUASCALIENTES,ASIENTOS,0.0,45492.0,0.000000,9.0
1003,AGUASCALIENTES,0.0,54136.0,0.000000,17.0,AGUASCALIENTES,CALVILLO,2.0,54136.0,3.694399,10.0
1004,AGUASCALIENTES,0.0,15042.0,0.000000,2.0,AGUASCALIENTES,COSIO,0.0,15042.0,0.000000,5.0
1005,AGUASCALIENTES,7.0,99590.0,7.028818,NaN,AGUASCALIENTES,JESUS MARIA,6.0,99590.0,6.024701,2.0
1006,AGUASCALIENTES,1.0,41862.0,2.388801,1.0,AGUASCALIENTES,PABELLON DE ARTEAGA,0.0,41862.0,0.000000,1.0
1007,AGUASCALIENTES,2.0,49156.0,4.068679,2.0,AGUASCALIENTES,RINCON DE ROMOS,1.0,49156.0,2.034340,3.0
1008,AGUASCALIENTES,0.0,8443.0,0.000000,4.0,AGUASCALIENTES,SAN JOSE DE GRACIA,0.0,8443.0,0.000000,3.0
1009,AGUASCALIENTES,0.0,19668.0,0.000000,1.0,AGUASCALIENTES,TEPEZALA,0.0,19668.0,0.000000,4.0
1010,AGUASCALIENTES,1.0,18828.0,5.311239,NaN,AGUASCALIENTES,EL LLANO,1.0,18828.0,5.311239,NaN

In [14]:
# Dropping repeated columns
hom_3x1_all = hom_3x1_all.drop('ENTIDAD_x', axis=1)
hom_3x1_all = hom_3x1_all.drop('pop_x', axis=1)
hom_3x1_all = hom_3x1_all.drop('ENTIDAD_y', axis=1)
hom_3x1_all = hom_3x1_all.drop('pop_y', axis=1)
hom_3x1_all = hom_3x1_all.drop('MUNICIPIO', axis=1)
hom_3x1_all.head(10)

,Homicides in 2013,Homicide Rate in 2013,3x1 Projects Granted in 2013,Homicides in 2014,Homicide Rate in 2014,3x1 Projects Granted in 2014
id,,,,,,
1001,19.0,2.383910,6.0,31.0,3.889537,6.0
1002,5.0,10.990943,2.0,0.0,0.000000,9.0
1003,0.0,0.000000,17.0,2.0,3.694399,10.0
1004,0.0,0.000000,2.0,0.0,0.000000,5.0
1005,7.0,7.028818,NaN,6.0,6.024701,2.0
1006,1.0,2.388801,1.0,0.0,0.000000,1.0
1007,2.0,4.068679,2.0,1.0,2.034340,3.0
1008,0.0,0.000000,4.0,0.0,0.000000,3.0
1009,0.0,0.000000,1.0,0.0,0.000000,4.0
1010,1.0,5.311239,NaN,1.0,5.311239,NaN

In [15]:
hom_3x1_all.to_csv('master.csv')

In [16]:
noti=pd.read_csv("muni_notilde1.csv", index_col = "CVEGEO", usecols= {"CVEGEO","NOM_ENT", "NOM_MUN"})
noti.head(10)

       NOM_ENT              NOM_MUN
CVEGEO
1001       AGS       Aguascalientes
1002       AGS             Asientos
1003       AGS             Calvillo
1004       AGS                Cosio
1005       AGS          Jesus Maria
1006       AGS  Pabellon de Arteaga
1007       AGS      Rincon de Romos
1008       AGS   San Jose de Gracia
1009       AGS             Tepezala
1010       AGS             El Llano

In [20]:
hom_3x1_all = pd.merge(hom_3x1_all, noti, left_index=True, right_index=True, how='outer')

In [21]:
hom_3x1_all.head(5)

,Homicides in 2013,Homicide Rate in 2013,3x1 Projects Granted in 2013,Homicides in 2014,Homicide Rate in 2014,3x1 Projects Granted in 2014,NOM_ENT_x,NOM_MUN_x,NOM_ENT_y,NOM_MUN_y
1001,19.0,2.383910,6.0,31.0,3.889537,6.0,AGS,Aguascalientes,AGS,Aguascalientes
1002,5.0,10.990943,2.0,0.0,0.000000,9.0,AGS,Asientos,AGS,Asientos
1003,0.0,0.000000,17.0,2.0,3.694399,10.0,AGS,Calvillo,AGS,Calvillo
1004,0.0,0.000000,2.0,0.0,0.000000,5.0,AGS,Cosio,AGS,Cosio
1005,7.0,7.028818,NaN,6.0,6.024701,2.0,AGS,Jesus Maria,AGS,Jesus Maria

In [22]:
hom_3x1_all.to_csv('master_noaccent1.csv')

In [25]:
ent = hom_3x1_all.groupby('NOM_ENT_x').sum()
ent['suma']=ent['3x1 Projects Granted in 2013']+ent['3x1 Projects Granted in 2014']
ent

,Homicides in 2013,Homicide Rate in 2013,3x1 Projects Granted in 2013,Homicides in 2014,Homicide Rate in 2014,3x1 Projects Granted in 2014,suma
NOM_ENT_x,,,,,,,
AGS,39.0,43.355259,35.0,42.0,23.749933,44.0,79.0
BC,775.0,146.728898,18.0,714.0,127.022027,22.0,40.0
BCS,56.0,41.938358,NaN,70.0,45.452300,NaN,NaN
CAM,67.0,88.647147,13.0,65.0,74.789018,13.0,26.0
CDMX,746.0,127.818679,NaN,749.0,126.844846,NaN,NaN
CHI,1443.0,4291.826009,40.0,1086.0,2362.163074,39.0,79.0
CHIS,503.0,1303.154608,17.0,409.0,1157.638765,47.0,64.0
COAH,645.0,1048.530530,NaN,390.0,856.667558,NaN,NaN
COL,178.0,276.147528,75.0,99.0,188.535195,45.0,120.0
DUR,476.0,996.381678,125.0,315.0,699.174308,153.0,278.0
EDOMEX,1932.0,1207.371743,22.0,1994.0,1497.619475,37.0,59.0
GRO,2087.0,2719.828295,112.0,1514.0,2309.348707,136.0,248.0
GTO,641.0,456.775048,194.0,709.0,599.126040,291.0,485.0
HGO,124.0,350.902308,90.0,141.0,377.380849,97.0,187.0
JAL,743.0,168.129600,457.0,452.0,100.481469,350.0,807.0
MICH,902.0,2292.258232,150.0,904.0,2342.455377,135.0,285.0
MOR,597.0,932.796648,14.0,416.0,762.866869,15.0,29.0
NAY,151.0,416.279731,76.0,110.0,265.409952,45.0,121.0
NL,501.0,77.154504,30.0,490.0,1180.565461,31.0,61.0
OAX,193.0,146.480618,40.0,129.0,140.046609,40.0,80.0
PUE,409.0,2187.382562,24.0,338.0,1675.228353,35.0,59.0
QRO,111.0,70.019965,101.0,82.0,80.594499,79.0,180.0
QROO,214.0,144.173819,4.0,172.0,142.365059,4.0,8.0
SIN,1208.0,869.856784,16.0,986.0,790.365871,22.0,38.0
SLP,261.0,450.063522,23.0,229.0,329.434134,20.0,43.0
SON,451.0,193.360778,12.0,568.0,1427.625498,20.0,32.0
TAB,140.0,104.858030,NaN,168.0,115.621294,NaN,NaN
TAM,556.0,913.064299,27.0,628.0,1332.451389,42.0,69.0
TLAX,70.0,344.566065,11.0,61.0,293.555152,15.0,26.0
VER,661.0,602.512950,26.0,487.0,1156.530348,32.0,58.0
YUC,40.0,36.229529,24.0,42.0,56.811506,44.0,68.0
ZAC,167.0,278.829650,247.0,114.0,271.393290,209.0,456.0